* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

.flex-menu {
  display: flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
  min-width: 320px;
  padding: 10px 15px;
}

.flex-container {
  display: flex;
  max-width: 992px;
  margin: auto;
  /*  width: 100%; */
  min-width: 320px;
  padding: 10px 15px;
}

header {
  background: #122a57;
  height: 100px;
  display: flex;
  align-items: center;
  color: #fff;
}

header #nav {
  display: flex;
  max-width: 290px;
  width: 100%;
  align-items: center;
  /*   background: aqua; */
}

header .list-items {
  display: flex;
  width: 100%;
  /*  max-width: 260px; */
  justify-content: space-between;
  align-items: center;
}

div img {
  display: block;
  width: 100%;
}

#nav .list-items li a {
  color: #fff;

  padding: 0.5rem;
  margin-right: 5px;
  display: block;
}

header .menu {
  justify-content: space-between;
}

header .menu a {
  text-decoration: none;
  color: #fff;
}

.content {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.content .content_text {
  min-height: 200px;
}

.content_text h1 {
  color: #122a57;
  font-size: 48px;
  margin-bottom: 10px;
}

.btn {
  background-color: #122a57;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  text-decoration: none;
  width: 220px;
  display: block;
  margin-top: 10px;
}

#quem-somos {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#quem-somos h2 {
  font-size: 32px;
  color: #122a57;
  display: flex;
  margin-bottom: 20px;
}

#quem-somos h2::before {
  content: "";
  height: 50px;
  width: 5px;
  margin-right: 5px;
  background-color: #122a57;
  position: relative;
}

#quem-somos p {
  margin-bottom: 10px;
  width: 90%;
}
#quem-somos img {
  min-width: 500px;
}

.container-services {
  background: #122a57;
  width: 100%;
}

#services {
  flex-direction: column;
  padding: 50px 0 100px 0;
}
#services h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}

.list-services {
  display: flex;
  justify-content: space-around;
}

.list-services .item-service {
  text-align: center;
}

.item-service a {
  width: 120px;
  background-color: #fff;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
  padding: 5px 10px;
  text-decoration: none;
  color: #122a57;
  font-size: 12;
  font-weight: 700;
}
.item-service p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 20px 0;
}

.item-service img {
  width: 80%;
  margin: auto;
}

#plans {
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
}
#plans h2 {
  font-size: 32px;
  color: #122a57;
}

.list-plans {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.item-plan {
  flex: 1;
  border: 5px solid #122a57;
  /*  margin-right: 20px; */
  padding: 10px;
  max-width: 240px;
}

.item-plan .btn {
  margin: auto;
  margin-bottom: 20px;
}

.item-plan h3 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.item-plan h3::after {
  content: "";
  background-color: #122a57;
  width: 80%;
  height: 3px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.item-plan ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.item-plan ul li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.item-plan ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #122a57;
  margin-right: 5px;
}

footer {
  background-color: #122a57;
  height: 70px;
  display: flex;
  align-items: center;
}

footer .foot {
  justify-content: space-between;
  color: #fff;
}
#btn-mobile {
  display: none;
}

/* Mobile */
@media (max-width: 992px) {
  #btn-mobile {
    display: flex;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #sanduba {
    width: 20px;
    display: block;
    border-top: 2px solid;
  }

  #sanduba::after,
  #sanduba::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #sanduba {
    border-top-color: transparent;
  }

  #nav.active #sanduba::before {
    transform: rotate(135deg);
  }

  #nav.active #sanduba::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  header #nav {
    width: 100%;
    max-width: 100%;

    display: flex;

    justify-content: flex-end;
  }

  header .list-items {
    display: block;
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    background: #122a57;
    transition: 0.6s;
    height: 0;
    z-index: 10000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active .list-items {
    /*   display: block; */
    visibility: visible;
    height: calc(100vh - 100px);
    overflow-y: auto;
  }

  header .list-items a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(266, 266, 266, 0.05);
  }

  .flex-container {
    flex-direction: column;
  }

  .content {
    flex-direction: column-reverse;
    height: unset;
  }

  /*  .content .content_text {
    height: unset;
  } */
  /* .content_text {
    height: unset;
  } */

  #quem-somos {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  #quem-somos img {
    min-width: 320px;
    margin: auto;
  }

  #services h2 {
    margin-left: 15px;
  }

  .list-services {
    flex-direction: column;
  }

  .item-service img {
    width: 30%;
    margin: auto;
  }

  .list-plans {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .list-plans .item-plan {
    max-width: 90%;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
  }
}
